<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/deco.css">
</head>
<body>
    <header class="art-deco-border">
        <h1>Welcome, {{ .User.Name }}</h1>
        <button id="logoutButton">Logout</button>
    </header>

    <div class="decorative-box">
        <p>You'll find hardly more than just the recipes here.</p>
    </div>

    <div class="container">
        <div class="column">
            <h3>Your Recipes</h3>
            <ul id="recipeList">
                {{ range .Recipes }}
                <li>
                    <strong><a href="/recipes/{{ .ID }}">{{ .Title }}</a></strong><br>
                    <em>{{ .Description }}</em><br>
                    <span>Difficulty: {{ .Difficulty }}</span>
                </li>
                {{ else }}
                <li>No recipes found.</li>
                {{ end }}
            </ul>
            <button id="createRecipeButton">Create Recipe</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Recipls. All rights reserved.</p>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
    </footer>

<script src="/static/scripts/auth.js"></script>
<script src="/static/scripts/home.js"></script>
</body>
</html>