<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/deco.css">
</head>

<body>
<section>
    <div class="art-deco-border">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="email">Email:</label>
            <input id="email" type="text" placeholder="email" name="email" required><br>
            <label for="password">Password:</label>
            <input id="password" type="text" placeholder="password" name="password" required><br>
            <button id="loginButton" type="submit">Login</button>
        </form>
    </div>
</section>

<script src="/static/scripts/login.js"></script>
</body>
</html>